<footer class="border-top footer text-muted">
    <div class="grid-container">
        <div class="grid-x">
            <div class="container">
                &copy; 2024 - Opticron - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </div>
</footer>