<header class="grid-container full fluid">
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="menu">
        <div class="grid-x grid-margin-x">
            <div class="cell large-offset-1">
                <div class="top-bar-left">
                    <ul class="dropdown menu">
                        <li class="menu-text">Opticron</li>
                    </ul>
                </div>
            </div>
            <div class="cell small-6 large-offset-1">

                <div class="top-bar-left">
                    <ul class="dropdown menu">
                        <li class="menu-text">Our Products</li>
                        <li class="menu-text">Where to Buy</li>
                        <li class="menu-text">New & Reviews</li>
                        <li class="menu-text">Help & Support</li>
                        <li class="menu-text">My Opticron</li>
                    </ul>
                </div>
            </div>
            <div class="cell small-4 auto">
                <div class="top-bar-right">
                    <ul class="menu align-right">
                        <li>
                            <input type="search" placeholder="My Opticron" class="input-group-field">
                            <button type="submit" class="button" style="background-color: gray;"><i class="fa fa-search"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>



</header>